@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
  }
  
  body {
    background: #222;
  }
  
  section {
    padding: 2rem 9%;
  }

  .heading {
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .heading span {
    color: var(--theme-color);
    text-transform: uppercase;
  }

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
  }
  
  .contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact form .inputBox input,
  .contact form textarea {
    width: 100%;
    background: #333;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.7rem 0;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
  }
  
  .contact form .inputBox input::placeholder,
  .contact form textarea::placeholder {
    color: #eee;
    text-transform: capitalize;
  }
  
  .contact form .inputBox input:focus,
  .contact form textarea:focus {
    background: #444;
  }
  
  .contact form .inputBox input {
    width: 49%;
  }
  
  .contact form textarea {
    resize: none;
  }
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }
  
  .btn:hover {
    background: var(--theme-color);
  }