<section class="gallery" id="gallery">
    <h1 class="heading">our <span>gallery</span></h1>

    <div class="box-container">
      <div class="box">
        <img src="assets\gallery1.jpg" alt="" />
        <h3 class="title">Wedding Events</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="https://drive.google.com/drive/u/1/folders/1kTyfzxpUUe1lln0vbAnYSWBj_rzDxcHf" class="fas fa-share" target="_blank"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>


      <div class="box">
        <img src="assets\birthday1.jpg" alt="" />
        <h3 class="title">Birthday Parties</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="https://drive.google.com/drive/folders/1R2d7eqh1Uy5G29k1WBGFSb2r73MlT37M?usp=sharing" class="fas fa-share" target="_blank"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="assets\school1.jpg" alt="" />
        <h3 class="title">School events</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="https://drive.google.com/drive/u/1/folders/1ldHaBFePQSCbx_WFkI30gOUGzBn8i-Fc" class="fas fa-share" target="_blank"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="assets\school2.jpg" alt="" />
        <h3 class="title">Annual Functions</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="https://drive.google.com/drive/folders/1OF8v1s8K_LQH7C5YY4LjLTG0QaWGXlNa?usp=sharing" class="fas fa-share" target="_blank"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="assets\black1.jpg" alt="" />
        <h3 class="title">Office Parties</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="https://drive.google.com/drive/folders/1vA-j_4SQdSG44EjevBzpNt7trKDwx1aC?usp=sharing" class="fas fa-share" target="_blank"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="assets\gallery9.jpg" alt="" />
        <h3 class="title">College Fests</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="https://drive.google.com/drive/folders/1UDzIoWS5t2AbDgv1XLKWjpnITbVXy235?usp=sharing" class="fas fa-share" target="_blank"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>
    </div>
  </section>