<section class="gallery" id="gallery">
    <h1 class="heading">our <span>gallery</span></h1>

    <div class="box-container">
      <div class="box">
        <img src="assets\gallery1.jpg" alt="" />
        <h3 class="title">Wedding Events</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="#" class="fas fa-share"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>


      <div class="box">
        <img src="assets\birthday1.jpg" alt="" />
        <h3 class="title">Birthday Parties</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="#" class="fas fa-share"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="assets\school1.jpg" alt="" />
        <h3 class="title">School events</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="#" class="fas fa-share"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="assets\school2.jpg" alt="" />
        <h3 class="title">Annual Functions</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="#" class="fas fa-share"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="assets\black1.jpg" alt="" />
        <h3 class="title">Office Parties</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="#" class="fas fa-share"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="assets\gallery9.jpg" alt="" />
        <h3 class="title">College Fests</h3>
        <div class="icons">
          <!-- <a href="#" class="fas fa-heart"></a> -->
          <a href="#" class="fas fa-share"></a>
          <!-- <a href="#" class="fas fa-eye"></a> -->
        </div>
      </div>
    </div>
  </section>