<section class="price" id="price">
    <h1 class="heading">our <span>pricing</span></h1>

    <div class="box-container">
      <div class="box">
        <h3 class="title">basic</h3>
        <h3 class="amount">$879.00</h3>
        <ul>
          <li><i class="fas fa-check"></i>full services</li>
          <li><i class="fas fa-check"></i> decorations</li>
          <li><i class="fas fa-check"></i> music and photos</li>
          <li><i class="fas fa-check"></i> food and drinks</li>
          <li><i class="fas fa-check"></i> invitation card</li>
        </ul>
        <a href="#" class="btn">check out</a>
      </div>

      <div class="box">
        <h3 class="title">prime</h3>
        <h3 class="amount">$799.00</h3>
        <ul>
          <li><i class="fas fa-check"></i>full services</li>
          <li><i class="fas fa-check"></i> decorations</li>
          <li><i class="fas fa-check"></i> music and photos</li>
          <li><i class="fas fa-check"></i> food and drinks</li>
          <li><i class="fas fa-check"></i> invitation card</li>
        </ul>
        <a href="#" class="btn">check out</a>
      </div>

      <div class="box">
        <h3 class="title">luxury</h3>
        <h3 class="amount">$379.00</h3>
        <ul>
          <li><i class="fas fa-check"></i>full services</li>
          <li><i class="fas fa-check"></i> decorations</li>
          <li><i class="fas fa-check"></i> music and photos</li>
          <li><i class="fas fa-check"></i> food and drinks</li>
          <li><i class="fas fa-check"></i> invitation card</li>
        </ul>
        <a href="#" class="btn">check out</a>
      </div>

      <div class="box">
        <h3 class="title">ultra</h3>
        <h3 class="amount">$920.00</h3>
        <ul>
          <li><i class="fas fa-check"></i>full services</li>
          <li><i class="fas fa-check"></i> decorations</li>
          <li><i class="fas fa-check"></i> music and photos</li>
          <li><i class="fas fa-check"></i> food and drinks</li>
          <li><i class="fas fa-check"></i> invitation card</li>
        </ul>
        <a href="#" class="btn">check out</a>
      </div>
    </div>
  </section>