<section class="reivew" id="review">
    <h1 class="heading">client's <span>review</span></h1>

    <div class="review-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide box">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <!-- <img src="assets/img1.jpg" alt="Nayana's Photo" /> -->
            <div class="user-info">
              <h3>Mamta Sharma</h3>
              <span>Happy Customer</span>
            </div>
          </div>
          <p>
            "Vasu Events made our school's annual day an absolute success! The attention to detail and the 
            seamless execution were beyond our expectations. The kids had a blast, and the feedback from parents
             was overwhelmingly positive. Thank you for creating such a memorable day!"
          </p>
        </div>
    
        <div class="swiper-slide box">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <!-- <img src="assets/img2.jpg" alt="Lisa's Photo" /> -->
            <div class="user-info">
              <h3>Priyank Tyagi</h3>
              <span>Happy Customer</span>
            </div>
          </div>
          <p>
            "The birthday party Vasu Events organized for my son was incredible. From the decorations to 
            the entertainment, everything was perfect. The team handled all the details, and we could simply 
            enjoy the day. Highly recommend for anyone looking for a stress-free celebration!"
          </p>
        </div>
    
        <div class="swiper-slide box">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <!-- <img src="assets/img3.jpg" alt="Mary's Photo" /> -->
            <div class="user-info">
              <h3>Yash Agrawal</h3>
              <span>Happy Customer</span>
            </div>
          </div>
          <p>
            "We hosted our office Christmas party with Vasu Events, and it was fantastic! 
            The catering was top-notch, the venue was beautifully decorated, and the entertainment 
            kept everyone engaged. It was a night to remember. Thanks for making our event so special!"
          </p>
        </div>
    
        <div class="swiper-slide box">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <!-- <img src="assets/img4.jpg" alt="Rose's Photo" /> -->
            <div class="user-info">
              <h3>Shailesh</h3>
              <span>Happy Customer</span>
            </div>
          </div>
          <p>
            "The team at Vasu Events went above and beyond for our corporate seminar. From the 
            flawless setup to the excellent service, everything was handled professionally. Our 
            guests were impressed, and the event went off without a hitch. We’ll definitely be using your services again!"
          </p>
        </div>
    
        
      </div>
    </div>
  </section>
