

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
  }
  
  body {
    background: #222;
  }
  
  section {
    padding: 1rem 4%;
  }
  
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
  }

.home .content {
    text-align: center;
    padding-top: 5rem;
    margin: 2rem auto;
    max-width: 70rem;
  }
  
  .home .content h3 {
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
  }
  
  .home .content h3 span {
    color: var(--theme-color);
    text-transform: uppercase;
  }
  
  
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }
  
  .btn:hover {
    background: var(--theme-color);
  }
  
  .home .home-slider .swiper-slide {
    overflow: hidden;
    border-radius: 0.5rem;
    height: 50rem;
    width: 35rem;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .home .home-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .home .home-slider {
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  .swiper-pagination {
    bottom: 10px;
    left: 50%;
    transform: translateX(-500%);
  }